templateData:
  site:
    title: "webpack Plugin for DocPad"
    scripts:
      "test-bundle.js"
plugins:
  webpack:
    webpackOptions:
      entry: './entry.js'
      context: ''
      cache: false
      optimize:
        minimize: false
      output:
        path: ''
        filename: 'test-bundle.js'
